---
const { text } = Astro.props;
---

<div
  id="siteDescription"
  class="opacity-30 text-vw-10 pl-1 lg:pl-4 leading-tight grid gap-2 w-full lg:w-1/4"
>
  <p></p>
  <p></p>
</div>

<style lang="scss">
  div {
    grid-column: 1 / -1;
    grid-row: 2 / 1;
    align-self: end;
  }
</style>
