---
const { meta } = Astro.props;
---

<footer
  class="opacity-30 aspect-[1440/266] grid justify-start content-end pl-1 lg:pl-4 pb-4"
>
  <small class="text-xs lg:text-vw-xs-pc">&copy; {meta.MY_NAME}</small>
  <div class="text-xs lg:text-vw-xs-pc">
    Design & Development by {meta.MY_NAME}
  </div>
</footer>
